.password-left{
    margin-top:100px;
    float: left;
    width: 90px;
}
.password-right{
    float: left;
}

.password-text-first{
    margin-top:6px;
    font-family: 微软雅黑;
    font-size: 16px;	
}
.password-text{
    margin-top:17px;
    font-family: 微软雅黑;
    font-size: 16px;
}

.password-first{
	margin-top:100px;
    width: 200px; 
}
.change-password{
	margin-top:5px;
    width: 200px;
}
.button{
	margin-top:20px;	
}

.submit{
	background: #D0EEFF;
    border: 1px solid #99D3F5;
	color: #1E88C7;
	margin-left: 2vw;
}
.reset{
	background: #D0EEFF;
    border: 1px solid #99D3F5;
	color: #1E88C7;
}
.submit:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.reset:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
