.col-one {
  flex: 1
}

.calendar {
  display: flex;
  flex: 1
}

.cell_head {
  height: 40px;
  border: 1px solid #ccc;
  
}
.cell_body {
  height: 80px;
  border: 1px solid #ccc;
}
.cell_body:hover {
  background-color: #fed000
}

.all-sceen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}